*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 112vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://img.freepik.com/premium-vector/pastel-mesh-blurred-background-multi-color-gradient-pattern-smooth-modern-watercolor-style_124894-133.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.q1{
    width: 98%;
    height: 90%;
}
.e1{
    width: 100%;
    height: 80%;
    display: flex;
}
.w1{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w2{
    width: 50%;
    height: 100%;

}
.w3{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.q2{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(153, 0, 200);
}